name: Run tests on pull request

on:
  pull_request:
  schedule:
    - cron: '0 2 * * 1'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/setup-flutter

      - run: flutter pub get

      - run: dart run build_runner build

      - run: flutter test lib